:root {
    --white-clr: rgb(248, 248, 248);
    --accent-clr: rgb(226, 161, 40);
    --light-clr: rgb(230, 230, 230);
    --lmid-clr:rgb(188, 188, 206);
    --mid-clr: rgb(102, 102, 121);
    --dark-clr: rgb(41, 41, 54);
    --accent-dark-clr: rgb(26, 18, 54);
}

@font-face {
    font-family: 'Space Age';
    src: url('./fonts/space\ age.woff2') format('woff2'),
         url('./fonts/space\ age.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    display: flex;
}

a {
    color: inherit;
}

.sidebar {
    position: relative;
    flex: 0 0 auto;
    color: var(--white-clr);
    background-color: rgb(35, 31, 41);
}

.sidebar figcaption {
    position: absolute;
    display: block;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.logo-container {
    position: absolute;
    top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
}

.main-logo {
    text-align: center;
    font-family: 'Space Age', sans-serif;
    font-size: 50px;
    display: flex;
    align-items: center;
}


.main-logo > span {
    color: var(--accent-clr);
    font-family: 'Space Age', sans-serif;
}


main {
    flex: 1 1 auto;
    color: var(--dark-clr);
    background-color: var(--light-clr);

}
.top-section,
form,
.bottom-section {
    padding-left: 2rem;
    padding-right: 4rem;
}


.top-section {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.top-section p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

form {
    background-color: var(--white-clr);
    box-shadow: 0 5px 7px 0 var(--mid-clr);
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

form h2 {
    margin-bottom: 1rem;
}

.form-ul {
    list-style-type: none;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 600px;
}

.form-li {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    flex: 1 0 200px;
}

label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    width: 100%;
}

input {
    padding: .2rem .5rem;
    appearance: none;
    border: 1px solid var(--lmid-clr);
    border-radius: .3rem;
}

input:not(:placeholder-shown):not(:focus):invalid,
input.error {
    border: 1px solid red;
    background-color: rgb(255, 236, 236);
}

div.error {
    color:red;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

input:focus {
    border-color: blue;

    outline: 1px solid blue;
    box-shadow: 3px 3px 5px 0 var(--lmid-clr);
}

.form-li > div {
    flex: 0 1 300px;
}

.bottom-section {
    padding-top: 3rem;
}

.bottom-section button {
    color: var(--accent-clr);
    background-color: var(--accent-dark-clr);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border: .3rem solid var(--accent-dark-clr);
    border-radius: .5rem;
}

.bottom-section button:hover {
    background-color: transparent;
    color: var(--accent-dark-clr);
}

.login-p {
    margin-top: 1rem;
}

.login-p a {
    color: var(--accent-dark-clr);
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 800px) {
    .sidebar {
        display: none;
    }
    
}